In [23]:
import pandas as pd
df= pd.read_excel("data/dead_conso-3-54-65.xlsx")
df

,id,DEAD_YEAR(Budha),DEAD_YEAR,Age,Sex,NationalityId,Tumbol,District,Province,RiskHelmet,...,DeadDate,DateRec,Time Rec,AccSubDist,AccDist,AccProv,AccLat,AccLong,ICD-10,Vehicle
0,8600677,2554,2011,72.0,1.0,99,วังหลวง,กิ่ง อ.เฝ้าไร่,นค,NaN,...,2554-07-13 00:00:00,2554-07-12 00:00:00,1900-01-01 16:34:00,หนองหลวง,กิ่ง อ.เฝ้าไร่,อุดรธานี,18.020541,103.187171,V031,คนเดินเท้า
1,8600520,2554,2011,17.0,1.0,99,ภูฝ้าย,ขุนหาญ,ศก,NaN,...,2554-01-22 00:00:00,2554-01-20 00:00:00,1900-01-01 22:00:00,เมืองใต้,เมืองศรีสะเกษ,ศรีสะเกษ,15.117497,104.327475,V294,รถจักรยานยนต์
2,8600600,2554,2011,44.0,1.0,99,คลองเตย,คลองเตย,กท,NaN,...,2554-06-01 00:00:00,2554-05-29 00:00:00,1900-01-01 18:00:00,สุรศักดิ์,ศรีราชา,ชลบุรี,NaN,NaN,V299,รถจักรยานยนต์
3,8600625,2554,2011,43.0,1.0,99,วัดสุวรรณ,บ่อทอง,ชบ,NaN,...,2554-01-19 00:00:00,2554-01-18 00:00:00,1900-01-01 21:40:00,บ่อวิน,ศรีราชา,ชลบุรี,NaN,NaN,V892,ไม่ระบุพาหนะ
4,8600681,2554,2011,35.0,1.0,99,เหล่าต่างคำ,โพนพิสัย,นค,NaN,...,2554-08-16 00:00:00,2554-07-29 00:00:00,1900-01-01 23:16:00,ช่องสามหมอ,แก้งคร้อ,ขอนแก่น,16.122191,102.220463,V892,ไม่ระบุพาหนะ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238394,1072503,2565,2022,20.0,1.0,NaN,NaN,NaN,NaN,NaN,...,2565-04-05 00:00:00,NaN,NaT,NaN,NaN,ลำพูน,18.404682,98.724158,Y349,ไม่ระบุพาหนะ
238395,1076343,2565,2022,66.0,1.0,NaN,NaN,NaN,NaN,NaN,...,2565-07-20 00:00:00,NaN,NaT,NaN,NaN,ฉะเชิงเทรา,13.692206,101.073257,V892,รถบรรทุกขนาดเล็ก/รถตู้
238396,1078903,2565,2022,70.0,2.0,NaN,NaN,NaN,NaN,NaN,...,2565-04-05 00:00:00,NaN,NaT,NaN,NaN,มหาสารคาม,16.122524,103.253255,V892,รถจักรยานยนต์
238397,1082487,2565,2022,65.0,1.0,NaN,NaN,NaN,NaN,NaN,...,2565-05-10 00:00:00,NaN,NaT,NaN,NaN,พังงา,8.515615,98.287358,Y349,รถจักรยานยนต์
238398,1078648,2565,2022,71.0,1.0,NaN,NaN,NaN,NaN,NaN,...,2565-07-03 00:00:00,NaN,NaT,NaN,NaN,เลย,17.727573,101.716185,V892,ไม่ระบุพาหนะ

In [24]:
df["Age"].unique()

array([ 72.,  17.,  44.,  43.,  35.,  31.,  25.,  24.,  29.,  49.,  59.,
        65.,  38.,  16.,  21.,  41.,   0.,   5.,   3.,  10.,  19.,  36.,
        42.,  23.,  34.,  40.,  61.,  20.,  56.,  47.,  54.,  58.,  27.,
        39.,  12.,   8.,  57.,  15.,  22.,  69.,  18.,  32.,  48.,  13.,
        55.,  11.,   9.,  64.,  37.,  63.,  68.,  67.,  28.,  53.,  62.,
        30.,  71.,  50.,  79.,  33.,  52.,  51.,  60.,  70.,  45.,  80.,
        46.,  66.,  73.,  78.,  14.,   1.,  26.,  76.,  77.,  86.,  84.,
        88.,  74.,  75.,  82.,   2.,  85.,   4.,  93.,  81.,  83.,  87.,
        97.,   6.,   7.,  nan,  90.,  89.,  -1.,  92.,  96.,  91., 128.,
       129.,  94.,  95., 130., 103., 125., 123., 115., 131., 116., 119.,
        98., 118., 149.,  99., -22., 110., 100.])

In [25]:
df_1 = df[df["Age"] >= 1]
df_1.describe()

,id,DEAD_YEAR(Budha),DEAD_YEAR,Age,Sex,RiskHelmet,RiskSafetyBelt,AccLat,AccLong
count,2.064290e+05,206429.000000,206429.000000,206429.000000,201849.000000,3832.000000,1863.000000,100196.000000,100194.000000
mean,8.872896e+06,2559.562043,2016.562043,40.189968,1.211886,1.786273,2.263017,14.481657,100.979409
std,2.322657e+06,3.302566,3.302566,19.617715,0.410074,0.484680,0.517742,3.084475,4.387595
min,1.068910e+06,2554.000000,2011.000000,1.000000,0.000000,1.000000,1.000000,-74.389096,-92.511648
25%,8.648263e+06,2557.000000,2014.000000,23.000000,1.000000,2.000000,2.000000,13.598545,99.972545
50%,8.709665e+06,2560.000000,2017.000000,38.000000,1.000000,2.000000,2.000000,14.707477,100.687781
75%,1.009998e+07,2562.000000,2019.000000,55.000000,1.000000,2.000000,3.000000,16.449523,102.155304
max,1.141445e+07,2565.000000,2022.000000,149.000000,2.000000,3.000000,3.000000,23.822144,105.599818

In [26]:
Age_Range = []
for row in df_1['Age']:
    if row >= 1.0 and row <= 3.0 :Age_Range.append('baby')
    elif row >= 4.0 and row <= 6.0 :Age_Range.append('child')
    elif row >= 7.0 and row <= 20.0 :Age_Range.append('teenage')
    elif row >= 21.0 and row <= 60.0 :Age_Range.append('worker')
    elif row >= 60.0 :Age_Range.append('elder')
df_1['Age_Range'] = Age_Range
df_1

C:\Users\Deva's PC\AppData\Local\Temp\ipykernel_11504\1828833626.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Age_Range'] = Age_Range

,id,DEAD_YEAR(Budha),DEAD_YEAR,Age,Sex,NationalityId,Tumbol,District,Province,RiskHelmet,...,DateRec,Time Rec,AccSubDist,AccDist,AccProv,AccLat,AccLong,ICD-10,Vehicle,Age_Range
0,8600677,2554,2011,72.0,1.0,99,วังหลวง,กิ่ง อ.เฝ้าไร่,นค,NaN,...,2554-07-12 00:00:00,1900-01-01 16:34:00,หนองหลวง,กิ่ง อ.เฝ้าไร่,อุดรธานี,18.020541,103.187171,V031,คนเดินเท้า,elder
1,8600520,2554,2011,17.0,1.0,99,ภูฝ้าย,ขุนหาญ,ศก,NaN,...,2554-01-20 00:00:00,1900-01-01 22:00:00,เมืองใต้,เมืองศรีสะเกษ,ศรีสะเกษ,15.117497,104.327475,V294,รถจักรยานยนต์,teenage
2,8600600,2554,2011,44.0,1.0,99,คลองเตย,คลองเตย,กท,NaN,...,2554-05-29 00:00:00,1900-01-01 18:00:00,สุรศักดิ์,ศรีราชา,ชลบุรี,NaN,NaN,V299,รถจักรยานยนต์,worker
3,8600625,2554,2011,43.0,1.0,99,วัดสุวรรณ,บ่อทอง,ชบ,NaN,...,2554-01-18 00:00:00,1900-01-01 21:40:00,บ่อวิน,ศรีราชา,ชลบุรี,NaN,NaN,V892,ไม่ระบุพาหนะ,worker
4,8600681,2554,2011,35.0,1.0,99,เหล่าต่างคำ,โพนพิสัย,นค,NaN,...,2554-07-29 00:00:00,1900-01-01 23:16:00,ช่องสามหมอ,แก้งคร้อ,ขอนแก่น,16.122191,102.220463,V892,ไม่ระบุพาหนะ,worker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238394,1072503,2565,2022,20.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaN,NaN,ลำพูน,18.404682,98.724158,Y349,ไม่ระบุพาหนะ,teenage
238395,1076343,2565,2022,66.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaN,NaN,ฉะเชิงเทรา,13.692206,101.073257,V892,รถบรรทุกขนาดเล็ก/รถตู้,elder
238396,1078903,2565,2022,70.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaN,NaN,มหาสารคาม,16.122524,103.253255,V892,รถจักรยานยนต์,elder
238397,1082487,2565,2022,65.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaN,NaN,พังงา,8.515615,98.287358,Y349,รถจักรยานยนต์,elder
238398,1078648,2565,2022,71.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaN,NaN,เลย,17.727573,101.716185,V892,ไม่ระบุพาหนะ,elder

In [31]:
age_with_acci = df_1.groupby(['Vehicle' , 'Age_Range']).size().reset_index(name='counts')
age_with_acci

                   Vehicle Age_Range  counts
0               คนเดินเท้า      baby     224
1               คนเดินเท้า     child     150
2               คนเดินเท้า     elder    2125
3               คนเดินเท้า   teenage     783
4               คนเดินเท้า    worker    4059
5                รถจักรยาน      baby       4
6                รถจักรยาน     child      15
7                รถจักรยาน     elder     459
8                รถจักรยาน   teenage     110
9                รถจักรยาน    worker     436
10           รถจักรยานยนต์      baby     419
11           รถจักรยานยนต์     child     317
12           รถจักรยานยนต์     elder   14603
13           รถจักรยานยนต์   teenage   20168
14           รถจักรยานยนต์    worker   57734
15  รถบรรทุกขนาดเล็ก/รถตู้      baby      61
16  รถบรรทุกขนาดเล็ก/รถตู้     child      41
17  รถบรรทุกขนาดเล็ก/รถตู้     elder     661
18  รถบรรทุกขนาดเล็ก/รถตู้   teenage     436
19  รถบรรทุกขนาดเล็ก/รถตู้    worker    2843
20            รถบรรทุกหนัก      baby       8
21            รถบรรทุกหนัก     child       7
22            รถบรรทุกหนัก     elder      86
23            รถบรรทุกหนัก   teenage      84
24            รถบรรทุกหนัก    worker     694
25                  รถยนต์      baby     215
26                  รถยนต์     child     169
27                  รถยนต์     elder    2714
28                  รถยนต์   teenage    1708
29                  รถยนต์    worker   12272
30         รถเพื่อการเกษตร      baby       1
31         รถเพื่อการเกษตร     child       3
32         รถเพื่อการเกษตร     elder      16
33         รถเพื่อการเกษตร   teenage       8
34         รถเพื่อการเกษตร    worker      61
35                รถโดยสาร      baby       3
36                รถโดยสาร     child       6
37                รถโดยสาร     elder      38
38                รถโดยสาร   teenage      34
39                รถโดยสาร    worker     214
40                  สามล้อ      baby       4
41                  สามล้อ     child       2
42                  สามล้อ     elder     146
43                  สามล้อ   teenage       9
44                  สามล้อ    worker     207
45            ไม่ระบุพาหนะ      baby     585
46            ไม่ระบุพาหนะ     child     530
47            ไม่ระบุพาหนะ     elder   14482
48            ไม่ระบุพาหนะ   teenage   13103
49            ไม่ระบุพาหนะ    worker   53372